<% layout('layouts/boilerplate')%>

<form action="/register" method="POST" class="needs-validation col-4 form-signin" novalidate>
    <h1>Sign up</h1>
    <br>
    <div class="mb-3">
        <label class="visually-hidden" for="username">Username</label>
        <input class="form-control" type="username" placeholder="username" id="username" name="username">
    </div>
    <div class="mb-3">
        <label class="visually-hidden" for="email">Email</label>
        <input class="form-control" type="email" placeholder="email" id="email" name="email">
    </div>
    <div class="mb-3">
        <label class="visually-hidden" for="password">Password</label>
        <input class="form-control" type="password" placeholder="password" id="password" name="password">
    </div>
    <button class="w-100 btn btn-primary">Sign up</button>
    <hr>
    <a class="btn btn-lg btn-outline-primary form-control" href="/auth/google" role="button"><i class="bi bi-google"></i> Sign up with Google</a>
</form>
